#notelist {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	/*margin-left: 30px;*/
	/*margin-right: 30px;*/
	gap: 20px;
}

.note {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	/*padding: 15px;*/
	gap: 10px;

	height: 150px;

	border: 1px solid grey;
}

.notedate{
	display: inline-block;

	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #838383;
}

.noteinfo {
	text-decoration: none;

	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;

	width: 140px;
	height: 60px;

	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #181818;
}

.notelink {
	text-decoration: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;

	border: 2px solid #A6C81E;
	border-radius: 10px;

	width: 140px;
	height: 44px;

	margin-left: auto;
	margin-right: auto;

	color: #A6C81E;
}
